{% extends 'base.html' %} {% load static %}{%block content%}

<style>
    .card-img-top {
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }
</style>
<nav class="navbar sticky-top navbar-light bg-dark">
    <center>
        <h3 class="text-primary"> Welcome
            <span class="text-danger">{{user.first_name}}{{user.last_name}}</span></h3>
    </center>

    <a href="logout">
        <button type="button" class="btn btn-danger">Logout</button>
    </a>
</nav>



<div class="container-sm container-md container-lg">

    <div class="row row-cols-2 g-2 mt-5 pt-3 d-flex">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <div class="card">
                <img src="{% static 'images/Rick and Morty v2.png'%}" class="img-fluid img-center card-img-top" alt="a snow-cappedmountain range" />
                <div class="card-body">
                    <h2 class="card-title">Mountains</h2>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <div class="card">
                <img src="{% static 'images/R.jfif' %}" class="img-fluidimg-center card-img-top" alt="a snowy mountain with cloudsbehind it" />
                <div class="card-body">
                    <h2 class="card-title">Mountains</h2>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <div class="card">
                <img src="{% static 'images/brisbane-night-water-buildings-wallpaper-preview.jpg' %}" class="img-fluid img-center card-img-top" alt="amountain range under a thin layer of clouds" />
                <div class="card-body">
                    <h2 class="card-title">Mountains</h2>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <div class="card">
                <img src="{% static 'images/bbc2f2900b0472a57079f78c0c3af8ae.webp' %}" class="img-fluid img-center card-img-top" alt="a forestedmountain range" />
                <div class="card-body">
                    <h2 class="card-title">Mountains</h2>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <div class="card">
                <img src="{% static 'images/iStock-913363368_y31aov.jpg' %}" class="img-fluid img-center card-img-top" alt="a forestedmountain range" />
                <div class="card-body">
                    <h2 class="card-title">Mountains</h2>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <div class="card">
                <img src="{% static 'images/brisbane-skyline-56a37ad95f9b58b7d0d22a2c.jpg' %}" class="img-fluid img-center card-img-top" alt="a forestedmountain range" />
                <div class="card-body">
                    <h2 class="card-title">Mountains</h2>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}